.containExperience{
    /*background-color: #282d4e;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 1em;
}
.experiencesList{
    margin-top: 20px;
    margin-bottom: 20px;
}

.experienceItem{
    /*margin-bottom: 20px;*/
    /*border-radius: 5px;*/
    /*padding: 20px;*/
    /*background-color: #5eff0015;*/
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ffffff1e;
    border-left: 3px solid #ffffff50;
}

.experienceItem .item-left{
    width: 40%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.experienceItem .item-left h2, .experienceItem .item-left h3, .experienceItem .item-left h4{
    margin-top: 4px;
    margin-bottom: 4px;
}

.experienceItem .item-right{
    width: 60%;
}

.timeline-dot{
    height: 10px;
    width: 10px;
    background-color: #facc15;
    border-radius: 50%;
    display: inline-block;
    margin-top: 28px;
    margin-left: -6px;
}

.timeline-content{
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.titleExperienceItem{
    color: #facc15;
}

.companyExperienceItem{
    color: #FFF;
    font-size: 20px;
}

.dateExperienceItem{
    font-size: 14px;
}

.experienceItem .item-right p{
    font-size: 17px;
    line-height: 24px;
    margin: 0;
    text-align: justify;
    color: #ffffffb0;
}

@media screen and (max-width: 400px) {
    .experienceItem{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #ffffff1e;
        border-left: 3px solid #ffffff50;
    }
    .experienceItem .item-left{
        width: 100%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .experienceItem .item-right{
        width: 100%;
    }
    .timeline-content{
        flex-direction: column;
    }
}